.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #fdfffc;
  z-index: 10;

  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;

  opacity: .95;

  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.Header h1 {
  margin: 0;
  /* margin-left: 10px; */
}


.nav-link {
  text-decoration: none;
  color: #ca2e55;
}

.Home-link {
  text-decoration: none;
  color: #ca2e55;
}

.Header_login {
  position: absolute;
  right: 40px;
  top: 17px;
}

.Header_nav_links {
  margin-top: -30px;
  float: right;
  
}

.Header_tagline {
  color: #235789;
}

.mid {
  margin: 15px;
}

@media only screen and (max-width: 600px) {
  .Header {
    height: 90px;
  }
  .Home-link, .Header_tagline {
    margin-left: 0;
  }
  .Header_nav_links {
    margin-top: 7px;
    float: left;
  }
}