.tasksform-box {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;

  background-color: #fdfffc;
  border-radius: 5px;
  width: 400px;
  height: 350px;
  margin: auto;
  margin-top: 150px;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

  padding: 1em;
}

.tasksform-box h1 {
  color: #ca2e55;
}

.TasksForm div label {
  display: inline;
  text-align: left;
  font-size: .9em;
  margin-left: 0;
  margin-right: 100%;
}

.TasksForm div input {
  position: absolute;
  right: 0;
  top: 0;
}

.TasksForm div {
  position: relative;
  width: 60%;
  margin: auto;
  margin-bottom: 1em;
  text-align: left;
}

.TasksForm div select {
  position: absolute;
  right: 0px;
  top: 0px;
}

.TasksForm button, .cancel-button {
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
  border-radius: 10px;
  background-color: #ead94c;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #ca2e55;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.cancel-button {
  padding: 6px;
}

.TasksForm button:hover {
  cursor: pointer;
} 