.timeBlock {
  height: 30px;
  width: 200px;
  /* border: gray solid .25px; */
  margin: 0;
  background-color: #bbb;
  font-size: .80em;
  padding: 2px;
  padding-left: 5px;
}

.timeBlock:nth-child(even) {
  background-color: #ddd;
  background-color: #ccc;
}

.timeBlock:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.timeBlock:last-child {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.dayTimeline {
  width: 200px;
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.schedule-header {
  font-size: 1.5em;
  text-align: center;
}